<div class="wrapper">
    <div class="wrapperContainer">
        <h1>Med Rx</h1>
        <ul>
            <li>About Us</li>
            <li>Terms & Conditions</li>
            <li>Investors</li>
            <li>Privacy policy</li>
        </ul>
    </div>
    <div class="wrapperContainer">
        <h1>Support</h1>
        <ul>
            <li>Contact Us</li>
            <li>FAQs</li>
        </ul>
    </div>
    <div class="wrapperContainer">
        <h1>Products</h1>
        <ul>
            <li>Medical condtions</li>
            <li>Beauty & Skin care</li>
            <li>Medical devices</li>
            <li>Vitamin & Supplements</li>
            <li>Offers</li>
        </ul>
        <div class="wrapperContainer">
            <h1>Med Rx</h1>
            <h2>Subscribe to our news letter</h2>
            <input type="text" placeholder="Enter your Email">
            <button>Subscribe</button>
        </div>
    </div>
</div>